.visitor-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-black), .5);
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: all .15s;

        &--hidden {
            visibility: hidden;
            opacity: 0;
        }

        &__content {
            width: 70rem;
            height: auto;
            position: absolute;
            top: 5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
            background-color: #fff;
            border-bottom: 3px solid red;
            padding: 2rem;
            text-align: center;

            @include respond(phone) {
                top: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
            }
        }

        &__heading {
            font-size: 2.4rem;
            display: inline-block;
            color: var(--color-grey);
            text-transform: uppercase;
            margin: 0;
        }

        &__paragraph {
            font-size: 1.4rem;
        }
}

.system-alert {
    display: block;
    width: 100%;
    text-align: center;
    transition: all .15s;
    margin-top: 2rem;

        &--hidden {
            visibility: hidden;
            opacity: 0;
        }
}

.output {
    position: relative;
    width: 31.5rem;
    height: auto;
    display: block;

    @include respond(phone) {
        width: 100%;
    }

        &:not(:first-child) {
            margin-top: 2rem;
        }

        &__result {
            font-family: 'Rubik', sans-serif;
            color: var(--color-primary);
            letter-spacing: 2px;
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;
            padding: 1rem;
            background-color: rgb(240, 240, 240);
            border-radius: 10px;
            font-size: 1.6rem;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &__group {
            display: block;
            position: relative;
            max-width: 100%;
            height: 100%;

            @include respond(phone) {
                width: 100%;
            }
        }

        &__label {
            position: relative;
            bottom: .3rem;
            font-size: 1.3rem;
            font-family: "Work Sans", sans-serif;
            color: var(--color-secondary);

            @include respond(phone) {
                font-size: 1.6rem;
            }
        }
}

.closeBtn {
    position: absolute;
    top: -.4rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: inherit;
    transition: all .15s;

        &:hover {
            color: var(--color-secondary);
        }
}

.textarea {
    border-bottom: 3px solid var(--color-primary);
    background-color: rgb(240, 240, 240);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem 1rem .75rem 1rem;
    width: 100%;
    transition: all .15s;
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--color-primary);
    resize: none;

    @include respond(phone) {
        font-size: 2rem;
    }

        &::placeholder {
            color: var(--color-primary);
            font-size: inherit;
            font-family: inherit;

            @include respond(phone) {
                font-size: 1.6rem;
            }
        }

        &:focus {
            border-bottom-color: var(--color-secondary);
            color: var(--color-secondary);
            background-color: rgb(247, 247, 247);

            &::placeholder {
                color: var(--color-secondary);
            }
        }

        &--focused {
            border-bottom-color: var(--color-secondary);
            color: var(--color-secondary);
            background-color: rgb(247, 247, 247);
        }

        &--disabled {
            border-bottom-color: grey;

            &::placeholder {
                color: var(--color-grey);
            }
        }

        &--error {
            border-bottom-color: rgb(221, 28, 28);
            background-color: rgba(221, 28, 28, .2);
            color: rgb(221, 28, 28);

            &::placeholder {
                color: rgb(221, 28, 28);
            }

            &:focus {
                color: rgb(221, 28, 28);
                border-bottom-color: rgb(221, 28, 28);
                background-color: rgba(221, 28, 28, .2);

                &::placeholder {
                    color: rgb(221, 28, 28);
                }
            }
        }

        &__label {
            position: absolute;
            top: 1.4rem;
            left: 1.2rem;
            font-size: 1.2rem;
            transition: all .15s;
            color: var(--color-secondary);
            opacity: 0;
            pointer-events: none;

            @include respond(phone) {
                font-size: 1.2rem;
            }

                &--error {
                    color: rgb(221, 28, 28);
                }
        }

        &:focus + .textarea__label {
            transform: translateY(-3.4rem);
            opacity: 1;
            pointer-events: initial;
        }
}