*, *::before, *::after {
    box-sizing: inherit;
}

*, *:focus, *:hover, *:active {
    outline: none;
}

:root {
    --color-primary: #8500AF;
    --color-secondary: #2A3DAF;
    --color-black: 000, 000, 000;
    --color-grey: rgb(77, 76, 76);
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
    max-width: 100vw;
    max-height: 100vh;
}

.visitor-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-black), .5);
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: all .15s;
}

.visitor-alert-hidden {
    visibility: hidden;
    opacity: 0;
}

.visitor-alert-content {
    width: 70rem;
    height: auto;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: #fff;
    border-bottom: 3px solid red;
    padding: 2rem;
    text-align: center;
}

.visitor-alert h4 {
    font-size: 2.4rem;
    display: inline-block;
    color: var(--color-grey);
    text-transform: uppercase;
    margin: 0;
}

.visitor-alert p {
    font-size: 1.4rem;
}

.btn {
    border: none;
    background-color: var(--color-secondary);
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .15s;
    font-family: "Work Sans", sans-serif;
}

.btn:hover {
    background-color: #4358ce;
}

.page-content {
    width: 75rem;
    height: 50rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1rem 1rem rgba(black, .8);
    padding: 2rem;
    display: flex;
}

.heading {
    text-align: center;
    display: block;
    margin-bottom: 2rem;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.heading h1 {
    font-size: 2.8rem;
    margin: 0;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
    background-clip: text;
    color: transparent;
    text-shadow: 0 .5rem 1rem rgba(var(--color-black), .25);
    -webkit-background-clip: text;
}

.content-left {
    flex: 50%;
    align-self: stretch;
    position: relative;
}

.content-right {
    flex: 50%;
    align-self: stretch;
    position: relative;
}

.input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 30rem;
}

#group1 {
    top: 10rem;
    margin: 3rem auto 0 auto;
}

.input {
    border-bottom: 3px solid var(--color-primary);
    background-color: rgb(240, 240, 240);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem 1rem .75rem 1rem;
    font-size: 1.6rem;
    width: 100%;
    transition: all .15s;
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--color-primary);
}

.input::placeholder {
    color: var(--color-primary);
    font-size: inherit;
    font-family: inherit;
}

.input:focus {
    border-bottom-color: var(--color-secondary);
    color: var(--color-secondary);
    background-color: rgb(247, 247, 247);
}

.input:focus::placeholder {
    color: var(--color-secondary);
}

.input-focused {
    border-bottom-color: var(--color-secondary);
    color: var(--color-secondary);
    background-color: rgb(247, 247, 247);
}

.input:focus + .label {
    transform: translateY(-3.4rem);
    opacity: 1;
    visibility: visible;
}

.input-disabled {
    border-bottom-color: grey;
}

.input-disabled::placeholder {
    color: var(--color-grey);
}

.label {
    position: absolute;
    top: 1.4rem;
    left: 1.2rem;
    font-size: 1.2rem;
    transition: all .15s;
    color: var(--color-secondary);
    opacity: 0;
    pointer-events: none;
}

.label-focused {
    transform: translateY(-3.4rem);
    opacity: 1;
    pointer-events: initial;
}

span.output {
    position: relative;
    width: 100%;
    display: block;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    font-size: 1.6rem;
}

span.output:not(:first-child) {
    margin-top: 4rem;
}

span.output > span {
    color: var(--color-primary);
    letter-spacing: 2px;
}

.output-group {
    display: block;
    position: relative;
    top: 10rem;
    width: 100%;
    height: 100%;
}

.output-label {
    position: absolute;
    top: -2.25rem;
    left: 1rem;
    font-size: 1.3rem;
    font-family: "Work Sans", sans-serif;
    color: var(--color-secondary);
}

.selection {
    width: 100%;
    position: relative;
    top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selection-element {
    display: inline-block;
    background-color: var(--color-grey);
    font-size: 1.8rem;
    padding: .5rem;
    width: 7rem;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: 0 .5rem 1rem rgba(var(--color-black), .25);
    transition: all .15s;
}

.selection-element:hover {
    transform: scale(1.15);
}

.selection-element-active {
    background-color: var(--color-primary);
}

.icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey);
    transition: all .15s;
    cursor: pointer;
}

.icon:hover {
    fill: var(--color-secondary);
}

.icon-output {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
}

.footer-link, .footer-link:link, .footer-link:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    color: #fff;
    transition: all .15s;
    border: none;
    background-color: none;
    cursor: pointer;
}

.footer-link:hover {
    color: lightskyblue;
}

.credits {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(var(--color-black), .75);
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: all .15s;
}

.credits-hidden {
    visibility: hidden;
    opacity: 0;
}

.credits-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 15rem;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(var(--color-black), .25);
    padding: 2rem;
    color: var(--color-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits-content > h4 {
    font-size: 2.4rem;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin: 0;
}

.credits-content > p {
    font-size: 1.6rem;
    color: inherit;
    margin: 0;
}

.content-close {
    position: absolute;
    top: -.8rem;
    right: .5rem;
    font-size: 3rem;
    cursor: pointer;
    color: inherit;
    transition: all .15s;
}

.content-close:hover {
    color: var(--color-secondary);
}