.input {
    border-bottom: 3px solid var(--color-primary);
    background-color: rgb(240, 240, 240);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem 1rem .75rem 1rem;
    width: 100%;
    transition: all .15s;
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--color-primary);

    @include respond(phone) {
        font-size: 2rem;
    }

        &::placeholder {
            color: var(--color-primary);
            font-size: inherit;
            font-family: inherit;

            @include respond(phone) {
                font-size: 1.5rem;
            }
        }

        &:focus {
            border-bottom-color: var(--color-secondary);
            color: var(--color-secondary);
            background-color: rgb(247, 247, 247);
            
                &::placeholder {
                    color: var(--color-secondary);
                }
        }

        &--focused {
            border-bottom-color: var(--color-secondary);
            color: var(--color-secondary);
            background-color: rgb(247, 247, 247);
        }

        &--disabled {
            border-bottom-color: grey;

                &::placeholder {
                    color: var(--color-grey);
                }
        }

        &--error {
            border-bottom-color: rgb(221, 28, 28);
            background-color: rgba(221, 28, 28, .2);
            color: rgb(221, 28, 28);

                &::placeholder {
                    color: rgb(221, 28, 28);
                }

                &:focus {
                    color: rgb(221, 28, 28);
                    border-bottom-color: rgb(221, 28, 28);
                    background-color: rgba(221, 28, 28, .2);

                        &::placeholder {
                            color: rgb(221, 28, 28);
                        }
                }
        }

    
        &__label {
            position: absolute;
            top: 1.4rem;
            left: 1.2rem;
            font-size: 1.2rem;
            transition: all .15s;
            color: var(--color-secondary);
            opacity: 0;
            pointer-events: none;

                @include respond(phone) {
                    font-size: 1.2rem;
                }

                &--focused {
                    transform: translateY(-3.4rem);
                    opacity: 1;
                    pointer-events: initial;
                }

                &--error {
                    color: rgb(221, 28, 28);
                }
        }

        &__group {
            margin-bottom: 1.5rem;
            position: relative;
            width: 30rem;
            margin-top: 4rem;

            @include respond(phone) {
                width: 100%;
            }

            &--max-width {
                width: 100%;
            }
        }

        &__submit {
            border: none;
            background-color: var(--color-primary);
            font-size: 1.8rem;
            padding: 1rem 2rem;
            color: white;
            font-family: inherit;
            margin-top: 2rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .15s;

                &:active, &:focus {
                    outline: none;
                    border: none;
                }

                &:hover {
                    background-color: lighten(rgb(133, 0, 175), 10%);
                }
        }

        &__wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
        }

        &__wrapper-left {
            display: inline-block;
            flex: 0 0 50%;
            padding-right: 1rem;
        }

        &__wrapper-right {
            display: inline-block;
            flex: 1;
            padding-left: 1rem;
        }
}

.input:focus + .input__label {
    transform: translateY(-3.4rem);
    opacity: 1;
    visibility: visible;
}