.menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-black), .75);
  z-index: 20;
  transition: all .15s;

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }

    &__content {
      background-color: #ffffff;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 21;
    }

    &__button {
      display: inline-block;
      margin-right: 2rem;
    }

    &__icon {
      width: 3rem;
      height: 3rem;
      fill: #fff;
    }

    &__list {
      display: flex;
      background-color: #fff;
      width: 100%;
      height: 100%;
      list-style: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }

    &__item {
      display: block;
      width: 100%;
      font-size: 2.2rem;
      color: #000;
      transition: all .15s;
      padding: 2rem 6rem;
      text-align: center;
      cursor: pointer;

        &:hover {
          background-color: lightgrey;
        }
    }

    &__caption {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
      color: #fff;
    }
}