.selection {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;
    }

        &__element {
            display: inline-block;
            background-color: var(--color-grey);
            font-size: 1.8rem;
            padding: .5rem;
            width: 7rem;
            border-radius: 6px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            backface-visibility: hidden;
            box-shadow: 0 .5rem 1rem rgba(var(--color-black), .25);
            transition: all .15s;

            @include respond(phone) {
                display: block;
                width: 100%;
                padding: 1rem;
                font-size: 1.8rem;

                &:not(:first-child) {
                    margin-top: 1.5rem;
                }
            }

                &:hover {
                    transform: scale(1.15);
                }

                &--active {
                    background-color: var(--color-primary);
                }
        }
}